@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Purdue World Cup Pool - Teams";
}

<script>
    function addPerformance(teamName) {
        var performance = document.getElementById("gameResult_"+teamName).value;
        $.getJSON("/PoolService/AddTeamPerformance", 
            {teamName: teamName, performance: performance},
            function(result){
    
                var perf_team = "performance_"+teamName;
                var performanceResult = result.performance.join(", ");
                var colPerformance = document.getElementById(perf_team);
                colPerformance.innerHTML = performanceResult;
    
                var points_team = "points_"+teamName;
                var colPoints = document.getElementById(points_team);
                colPoints.innerHTML = result.points;
            });
    }
</script>

<div style="height: 50px"></div>
<div class="col-sm-2"></div>
<div class="container-fluid col-sm-8">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="text-align: center">Team</th>
                <th scope="col" style="text-align: center">Cost</th>
                <th scope="col" style="text-align: left">Performance</th>
                <th scope="col" style="text-align: center">Points</th>
                @{
                    if (Model.isAdmin){
                        <th style="text-align: center" id="colHeadAdmin">Admin</th>
                    }
                }

            </tr>
        </thead>
        <tbody>
            @{
                foreach(var team in Model.Teams)
                {
                    <tr>
                        <td align="center" id="team_@(team.Name)">@team.Name</td>
                        <td align="center">@team.Cost</td>
                        <td align="left" id="performance_@(team.Name)">@string.Join(", ", @team.Performance)</td>
                        <td align="center" id="points_@(team.Name)">@team.Points</td>
                        @{
                            if (Model.isAdmin){
                                <td align="center" id="rowDataAdmin">
                                    <select id="gameResult_@(team.Name)">
                                        @{
                                            foreach(var rule in Model.PerformanceRules)
                                            {
                                                <option>@rule</option>
                                            }
                                        }
                                    </select>
                                    <button class="btn btn-default" style="margin-left:10px; height:25px" onclick="addPerformance('@team.Name')">Update</button>
                                </td>
                            }
                        }
                    </tr>

                }
            }
        </tbody>
    </table> 
</div>